# Ignore build files
/target/

# Ignore logs
*.log

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore environment and credentials
.env

# Ignore compiled files
*.class

# Maven wrapper logs
.mvn/
mvnw*
